.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 96px;
}
.policy {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 96px;
  margin-bottom: 40px;
}
.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 24px;
}
.aboutText_wrapper {
  padding: 10px;
  margin-right: 20px;
}
.communication {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 630px;
  height: 336px;
  margin-top: 96px;
}
.communicationTitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 24px;
}
.communicationText {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 5px;
}
.howItWorks {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 1280px;
  height: 398px;
  margin-top: 96px;
}
.howItWorksCardWrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: start;
  align-items: center;
}
.howItWorksTitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 24px;
}
.howItWorksCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 413px;
  height: 314px;
  background: linear-gradient(
      151.35deg,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 214, 0, 0.8) 68.64%
    ),
    linear-gradient(
      238.31deg,
      rgba(255, 142, 0, 0.4) 3.37%,
      rgba(255, 255, 239, 0.4) 91.86%
    );
}
.howItWorksImg {
  width: 100px;
  height: 100px;
  background-color: #9a9a9a;
}
.howItWorksCardTitle{
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 24px;
}
.howItWorksCardText{
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 5px;
}
.policyTitle {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.policyText {
  padding: 10px;
  margin-right: 20px;
  width: 630px;
  height: 232px;
}
.policyImg {
  background-color: #9a9a9a;
  width: 630px;
  height: 320px;
}
.aboutText {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 5px;
}
.img {
  background-color: #9a9a9a;
  width: 630px;
  height: 320px;
}

.hero {
  background-color: #9a9a9a;
  width: 1440px;
  height: 320px;
}
