.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 96px;
}
.policy {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 96px;
  margin-bottom: 40px;
}
.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 24px;
}
.aboutText_wrapper {
  padding: 10px;
  margin-right: 20px;
}

.aboutText {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 5px;
}
.aboutText::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -55px;
  width: 40px;
  height: 40px;
  background-image: url("/Frame.png");
}
.communication {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 630px;
  height: 336px;
  margin-top: 96px;
}
.communicationTitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 24px;
}
.communicationText {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 5px;
}
.communicationText::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -55px;
  width: 40px;
  height: 40px;
  background-image: url("/Chat.png");
}
.howItWorks {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 1280px;
  height: auto;
  margin-top: 96px;
}
.howItWorksTitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 24px;
}
.howItWorksCardWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-content: center;
  width: 1200px;
  min-height: 450px;
}

.policyTitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 26px;
}
.policyText {
  padding: 10px;
  margin-right: 20px;
  width: 630px;
  height: 232px;
}
.policyImg {
  background-color: #9a9a9a;
  width: 630px;
  height: 320px;
}
.aboutText {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 5px;
}
.img {
  background-color: #9a9a9a;
  width: 630px;
  height: 320px;
}

.hero {
  background-color: #9a9a9a;
  width: 1440px;
  height: 320px;
}
